body {
    background-image: url(../img/shhh.jpeg);
}

.logo {
    font-family: 'Michroma', cursive;
}

.logo a {
    color: rgba(256,256,256,1);
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}